.bg-first {
    background-color: rgba(254, 234, 233, 1);
}

.bg-watch {
    background-color: #ffa500;
}

.bg-bag {
    background-color: orchid;
}

.bg-shoe {
    background-color: blue;
}


.categories img {
    width: 100px;
}

.buy-now-btn {
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
}